@model Registration




<div class="container">
    <div class="row">
        <div class="col-6">
            <p>Welcome @Model.FirstName @Model.LastName</p>
        </div>
        <div class="col-6">
            <img style="width:100%;" src="https://i.imgur.com/XcWbKhz.webp?tb" />
        </div>
    </div>
</div>
